html,
body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%; /*16px*/
    line-height: 1.75;
    color: #000000;
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

small,
.text_small {
    font-size: 0.8rem;
}
