.main {
    max-width: 800px;
    width: 100%;
    margin: 3rem auto;
    padding: 0 1rem;
}

.sidebar-nav {
    /* margin-top: 0px; */
    padding: 0;
    list-style: none;
}

.content {
    margin-top: 20px;
}

.col-sm-3 {
    background-color: rgba(231, 231, 231, 0.651);
}
