{% extends "layouts/default.njk" %}

{%- block headTitle -%}
    {{title}}
{%- endblock headTitle -%}

{% block content %}
	<h1>Genre: {{genre.name}}</h1>

	<div style='margin-left:20px;margin-top:20px'>
		<h4>Books</h4>

		<dl>
			{% for book in books %}
				<dt><a href="{{book.url}}">{{book.title}}</a></dt>
				<dd>{{book.summary}}</dd>
			{% else %}
				<p>This genre has no books</p>
		{% endfor %}
		</dl>
	</div>

	{# <ul>
		{% for genre in genre %}
			<li>
				<a href='{{genre.url}}'>{{genre.name}}</a>
			</li>
		{% else %}
			<li>There are no genres.</li>
		{% endfor %}
	</ul> #}
{% endblock content %}