{% extends "layouts/default.njk" %}

{%- block headTitle -%}
	Users
{%- endblock headTitle -%}

{% block main %}
	<h1>{{ title }}</h1>
	<p>Welcome to {{ title }}</p>
{% endblock main %}


{# text to maintain formatting #}
&nbsp; 